.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Login{ 
    margin: 0 auto;
    margin-top: 70px;
    max-width: 400px;
    padding: 40px 40px;
    background-color: #e5e9f0;
}

.pagination {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

/* 
/////Slider//// */




#app {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.slider-wrapper {
  width: 400px;
  height: 250px;
  border: 1px solid #333;
  overflow: hidden;
  border-radius: 4px !important;
}
.slider {
  width: 2000px;
}
.slider-item, .hide {
  float: left;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  line-height: 250px;
  font-size: 20px;
  background: #383838;
  text-align: center;
  border-radius: 4px !important;
  transition: all 0.2s linear;
}
.buttons-wrapper {
  width: 400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.buttons-wrapper .prev-button, .buttons-wrapper .next-button {
  background-image: url(http://static.birgun.net/static/images/slider-arrow-left.svg);
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
}
.buttons-wrapper .next-button {
  background-image: url(http://static.birgun.net/static/images/slider-arrow-right.svg);
}
.buttons-wrapper button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* indicators */
.indicators {
  width: 400px;
  position: absolute;
  bottom: -4px;
  z-index: 2 !important;
  text-align: center;
}
.indicators li {
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  text-indent: -9999px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.indicators li:last-child {
  margin-right: 0;
}
.active-indicator {
  background: rgba(0, 0, 0, 0.3) !important;
  color: #fff !important;
}
/* indicators */



.height-100 {
  height: 100vh
}

/* 
///OptionForUser/// */
* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* #root {
  margin: 20px auto;
  max-width: 350px;
} */
